# Dependencies
node_modules

# Build output
dist
.astro

# Logs
logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.AppleDouble
.LSOverride
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Firebase
.firebase
firebase-debug.log

# Env
.env
.env.local
.env.production
