- var page = "硬碟掃描"
- var no_nav = false

doctype html
html
  head
    include common/_head
  body
    include common/_navbar
    main
      include ../page-contents/diskscan.html
    include common/_footer.html
    include common/_scripts.html