- var page = "上班注意事項"
- var no_nav = false

doctype html
html
  head
    include common/_head.jade
  body
    include common/_navbar.jade
    main
      include ../page-contents/notice.html
    include common/_footer.html
    include common/_scripts.html