- var page = "常見狀況"
- var no_nav = false

doctype html
html
  head
    include common/_head.jade
  body
    include common/_navbar.jade
    main
      include ../page-contents/office.html
    include common/_footer.html
    include common/_scripts.html