- var page = "修改印表機 IP (1606dn)"
- var no_nav = false

doctype html
html
  head
    include common/_head
  body
    include common/_navbar
    main
      include ../page-contents/printerIP_1606dn.html
    include common/_footer.html
    include common/_scripts.html