- var page = "修改 IP（新）"
- var no_nav = false

doctype html
html
  head
    include common/_head
  body
    include common/_navbar
    main
      include ../page-contents/printerip_M201dw.html
    include common/_footer.html
    include common/_scripts.html