- var page = "事件申請系統"
- var no_nav = false

doctype html
html
  head
    include common/_head
  body
    include common/_navbar
    main
      include ../page-contents/system.html
    include common/_footer.html
    include common/_scripts.html