.valign-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.valign-wrapper .valign {
    display: block;
}

@media only screen and (max-width: 600px) {
    .no-valign-wrapper-on-mobile {
        display: block;
    }
}

.section li {
    line-height: 40px;
}

.index-btn {
    margin-top: 10px;
    width: 100%;
    max-width: 240px;
    border-radius: 100px;
    z-index: 0;
    letter-spacing: .5px;
    font-weight: 500;
}

.index {
    color: #fafafa;
    padding-top: 190px;
    background: linear-gradient(50deg, #009688, #00bcd4);
    width: 100%;
}

.index .index-text {
    padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .index {
        padding-top: 290px;
    }
}

.index .index-img-col {
    padding: 0;
    margin-bottom: -6px;
}

.index-footer {
    margin-top: 20px;
    padding-top: 20px;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    font-weight: 300
}

.index-h1 {
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    font-weight: 300;
    max-width: 400px;
    padding-bottom: 40px;
}

.index-h2 {
    margin-top: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    max-width: 500px;
}

.index-h2 b {
    font-weight: 400;
}

.index-nav {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 30px 0 0;
    height: 50px;
}


/* under experiment 導覽列半透明 */

.index-nav .container-wide {
    background: rgba(255, 255, 255, 0.1);
}

.index-nav .logo svg {
    margin-top: 20px;
    height: 30px;
    width: 120px;
    fill: white;
}

.index-nav ul li {
    text-transform: uppercase;
    padding-top: 4.4px;
}

.index-nav ul li a {
    font-size: 16px;
    letter-spacing: .5px;
    font-weight: 500;
}

.index-nav ul li a:not(.btn):not(.btn-large) {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}


/*
.index-nav ul li a:not(.btn):not(.btn-large):hover {
    color: HSLA(205, 85%, 92%, 1);
    text-decoration: underline;
}
*/

.index-nav ul li:hover {
    background-color: rgba(255, 255, 255, 0);
}

.index-nav ul li .nav-btn {
    z-index: 0;
    margin-left: 15px;
    padding: 0 15px;
    line-height: 33px;
    letter-spacing: .5px;
    font-weight: 500;
    background-color: white;
    border: 2px solid white;
    color: #F62D51;
    border-radius: 90px;
}

.index-nav ul li .nav-btn:hover {
    color: white;
}

.container-wide {
    padding: 0 2em;
}

/* rewrite origin css */

html {
    line-height: 1.5;
    font-family: 'source-han-sans-traditional',sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87)
}

.header {
    color: #009688;
    font-weight: 300
}

header,
main,
footer {
    padding-left: 250px
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0
    }
    h5>span {
        display: block;
        margin: 0 0 15px 0
    }
}

.side-nav {
    position: fixed;
    width: 250px;
}

.side-nav .collapsible-body>ul:not(.collapsible)>li.active,
.side-nav.fixed .collapsible-body>ul:not(.collapsible)>li.active {
    background-color: #fff
}

.side-nav .collapsible-body>ul:not(.collapsible)>li.active a,
.side-nav.fixed .collapsible-body>ul:not(.collapsible)>li.active a {
    color: #009688
}

nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 30px
}

@media only screen and (max-width: 992px) {
    nav .nav-wrapper {
        text-align: center
    }
    nav .nav-wrapper a.page-title {
        font-size: 24px
    }
}

h3 {
    font-size: 2rem;
    margin: 1.46rem 0 1.168rem;
}

h5 {
    font-size: 1.5rem;
    margin: .82rem 0 .656rem;
}

.bold>a {
    font-weight: 500;
}

ul.side-nav.fixed li a {
    font-size: 1rem;
    line-height: 44px;
    height: 44px;
    padding: 0 30px;
}