body {
    background-color: #fcfcfc;
}

p.box {
    padding: 20px;
}

p {
    color: rgba(0, 0, 0, 0.71);
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: antialiased;
}

h5>span {
    font-size: 14px;
    margin-left: 15px;
    color: #777;
}

nav a {
    -webkit-font-smoothing: antialiased;
}

nav ul li a:hover,
nav ul li.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.article-title {
    color: #009688;
    font-size: 34px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 30px;
}

@media screen and (max-width: 760px) {
    .article-title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 42px;
    }
}

@media screen and (max-width: 360px) {
    .article-title {
        padding: 20px 16px 0 16px;
    }
}

.subarticle-title {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
    overflow: hidden;
    padding-top: 40px;
}

@media screen and (max-width: 760px) {
    .subarticle-title {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 0px;
        padding-bottom: 12px;
        padding-top: 15px;
    }
}

.caption {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.preview {
    background-color: #FFF;
    border: 1px solid #eee;
    padding: 20px 20px;
}

header,
main,
footer {
    padding-left: 200px;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
    h5>span {
        display: block;
        margin: 0 0 15px 0;
    }
}

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 80px;
}

ul.side-nav.fixed li.logo:hover,
ul.side-nav.fixed li.logo #logo-container:hover {
    background-color: transparent;
}

ul.side-nav.fixed {
    overflow: hidden;
}

ul.side-nav.fixed li {
    line-height: 44px;
}

ul.side-nav.fixed li.active {
    background-color: rgba(0, 0, 0, 0.05);
}

ul.side-nav.fixed li a {
    font-size: .9rem;
    line-height: 44px;
    height: 44px;
    padding: 0 30px;
}

ul.side-nav.fixed ul.collapsible-accordion {
    background-color: #FFF;
}

ul.side-nav.fixed ul.collapsible-accordion a.collapsible-header {
    padding: 0 30px;
}

ul.side-nav.fixed ul.collapsible-accordion .collapsible-body li a {
    font-weight: 400;
    padding: 0 37.5px 0 45px;
}

ul.side-nav.fixed:hover {
    overflow-y: auto;
}

.bold>a {
    font-weight: bold;
}

#logo-container {
    height: 57px;
    margin-bottom: 32px;
}

nav.top-nav {
    height: 122px;
    box-shadow: none;
}

nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 30px;
}

a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 7.5%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 36px;
    z-index: 2;
}

a.button-collapse.top-nav.full {
    line-height: 122px;
}

a.button-collapse.top-nav i {
    font-size: 32px;
}

@media only screen and (max-width: 600px) {
    a.button-collapse.top-nav {
        left: 5%;
    }
}

@media only screen and (max-width: 992px) {
    nav .nav-wrapper {
        text-align: center;
    }
    nav .nav-wrapper a.page-title {
        font-size: 24px;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}

.sha {
    color: #f0f0f0;
    margin: 0 6px 0 6px;
}

.promo {
    width: 100%
}

.promo i {
    margin: 40px 0;
    color: #ee6e73;
    font-size: 7rem;
    display: block
}

.promo-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0
}
.clear {
    clear: both
}

.center {
    text-align: center;
    vertical-align: middle
}


.tabs-wrapper {
    position: relative;
    height: 48px
}

.tabs-wrapper .row.pinned {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10
}

.parallax-container .text-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -27px
}

ul.table-of-contents {
    margin-top: 0;
    padding-top: 48px
}

.toc-wrapper {
    position: relative;
    margin-top: 42px
}

.toc-wrapper.pin-bottom {
    margin-top: 84px
}

footer {
    font-size: .9rem
}

.image-container {
    width: 100%
}

.image-container img {
    max-width: 100%
}

@media only screen and (max-width: 600px) {
    .mobile-image {
        max-width: 100%
    }
}

/* ==========================================================================
   TEST AREA
   ========================================================================== */

/*
* Noto Sans TC (Chinese_traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Thin.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Light.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Black.otf) format('opentype');
}

/* ==========================================================================
   END TEST AREA
   ========================================================================== */

@media only screen and (max-width: 600px) {
    .no-valign-wrapper-on-mobile {
        display: block;
    }
}

.section li {
    line-height: 40px;
}

.index-btn {
    margin-top: 10px;
    width: 100%;
    max-width: 240px;
    border-radius: 100px;
    z-index: 0;
    letter-spacing: .5px;
    font-weight: 500;
}

.index {
    color: #fafafa;
    padding-top: 190px;
    background: linear-gradient(50deg, #009688, #00bcd4);
    width: 100%;
}

.index .index-text {
    padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .index {
        padding-top: 290px;
    }
}

.index .index-img-col {
    padding: 0;
    margin-bottom: -6px;
}

.index-footer {
    margin-top: 20px;
    padding-top: 20px;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    font-weight: 300;
}

.index-h1 {
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    font-weight: 300;
    max-width: 400px;
    padding-bottom: 40px;
}

.index-h2 {
    margin-top: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    max-width: 500px;
}

.index-h2 b {
    font-weight: 400;
}

.index-header {
    color: #009688;
    font-size: 2.5rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
}

.index-nav {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 30px 0 0;
    height: 50px;
}

.index-nav .logo{
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 80px;
}

.index-nav .logo svg {
    margin-top: 20px;
    height: 30px;
    width: 120px;
    fill: white;
}

.index-nav ul li {
    padding-top: 4.4px;
}

.index-nav ul li a {
    font-size: 16px;
    letter-spacing: .5px;
    font-weight: 500;
}

.index-nav ul li a:not(.btn):not(.btn-large) {
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.index-nav ul li:hover {
    background-color: rgba(255, 255, 255, 0);
}

.container-wide {
    padding: 0 2em;
}

.index-promo i {
    margin: 40px 0;
    color: #009688;
    font-size: 7rem;
    display: block;
}


/* typekit transition
.wf-loading body {
    opacity: 0;
    visibility: hidden;
}

.wf-active body,
.wf-inactive body {
    /*處理成功或失敗，都以漸變顯示
    -webkit-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
}

*/
/* ==========================================================================
   rewrite origin css
   ========================================================================== */

@media only screen and (min-width: 0) {
    html {
        font-size: 15px;
    }
}

@media only screen and (min-width: 992px) {
    html {
        font-size: 15.5px;
    }
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

html {
    font-family: 'Noto Sans TC', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.side-nav {
    width: 200px;
}

.side-nav .collapsible-body>ul:not(.collapsible)>li.active,
.side-nav.fixed .collapsible-body>ul:not(.collapsible)>li.active {
    background-color: #fff;
}

.side-nav .collapsible-body>ul:not(.collapsible)>li.active a,
.side-nav.fixed .collapsible-body>ul:not(.collapsible)>li.active a {
    color: #009688;
}

.bold>a {
    font-weight: 500;
}
