<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="一份給 B212 的教學手冊 ">
    <title>關前後棟－TKUB212</title>
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="imgs/ic_desktop_mac_36pt_2x.png">
    <!--meta(name='msapplication-TileColor', content='#FFFFFF')-->
    <!--meta(name='msapplication-TileImage', content='images/favicon/mstile-144x144.png')-->
    <link rel="icon" href="imgs/ic_desktop_mac_black_36dp_2x.png" sizes="32x32">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">
    <!-- CSS--><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="top-nav teal">
        <div class="container">
          <div class="nav-wrapper"><a class="page-title">關前後棟</a></div>
        </div>
      </nav>
      <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></div>
      <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo"><a id="logo-container" href="" class="brand-logo">
            <object id="front-page-logo" type="image/svg+xml" data="">Logo is here！</object></a></li>
        <li class="bold"><a href="notice.html" class="waves-effect waves-teal">上班注意事項</a></li>
        <li class="bold"><a href="phone.html" class="waves-effect waves-teal">電話禮儀</a></li>
        <li class="bold"><a href="office.html" class="waves-effect waves-teal">辦公室常見狀況</a></li>
        <li class="bold"><a href="system.html" class="waves-effect waves-teal">事件申請系統</a></li>
        <li class="bold"></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">印表機</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="printerip.html">修改印表機 IP</a></li>
                  <li class="hide"><a href="#">修改印表機 IP(new)</a></li>
                  <li><a href="printer.html">耗材更換</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">維修常見狀況</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="fcomputer.html">電腦</a></li>
                  <li><a href="fprinter.html">印表機</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">對拷</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="diskcopy.html">硬碟對拷</a></li>
                  <li><a href="netcopy.html">網路對拷</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li class="bold"><a href="diskscan.html" class="waves-effect waves-teal">硬碟掃描</a></li>
        <li class="bold"><a href="rhd.html" class="waves-effect waves-teal">RHD</a></li>
        <li class="bold active"><a href="close.html" class="waves-effect waves-teal">關前後棟</a></li>
      </ul>
    </header>
    <main><div class="container">
    <!--  Outer row  -->
    <div class="row">
        <div class="col s12 m9 l10">
            <div id="1" class="section scrollspy">
                <h1 class="article-title">示意圖</h1>
                <p class="caption">本圖只是簡略示意圖</p>
                <img class="responsive-img materialboxed lazy" data-original="imgs/closebuilding1.jpg">
            </div>
            <div id="2" class="section scrollspy">
                <h1 class="article-title">圖示說明</h1>
                <ul>
                    <li>橘色正方形為門禁卡機</li>
                    <li>紅色正方形為鐵捲門開關</li>
                    <li>虛線表示的是鐵捲門</li>
                    <li>雙直線是一般的門</li>
                    <li>B216 外面的黑色正方形是電箱</li>
                </ul>
            </div>
            <div id="3" class="section scrollspy">
                <h1 class="article-title">後棟</h1>
                <ol>
                    <li> 基本上一般在晚班時，如果後棟（B216～B218）到九點下班之前，都沒有借用或是上課的話，就可以先把教室給關起來 </li>
                    <li>關後棟教室時，要先查看每一間的窗戶是否有鎖好、冷氣是否有關好、每一台主機是否都已經關機了，最後才可以把教室內的總電源關掉 </li>
                    <li> 每間教室內都有兩到三個電箱，大部份都在教室內最前面或最後面的牆上 </li>
                    <li>大的電箱是地上排插的開關，最上面的開關不用關，其他的開關除了有貼標籤的不用關外，其他都關掉</li>
                    <li>有一些比較小的電箱裡面只有一到兩個開關，那是冷氣或網路交換器的電源開關，關掉冷氣的就好，網路交換器電源不用關</li>
                    <li>電源關掉後，把門關上確認電磁鎖鎖好後，再用鑰匙把門鎖好</li>
                    <li>確認方式是門關上後，看門能不能打開，直接轉門鎖就可以知道了</li>
                    <li>關 B216 外面那道鐵捲門，人在外面到鐵捲門下下來後，就往裡面走順便把外面的大電箱關掉</li>
                    <li>B216 外的電箱要關的時候，要先按下電箱外面的兩個按鈕，才能關掉裡面的開關，一樣關掉沒貼標籤的，最上面的一樣不要動，共六個開關</li>
                    <li>關好後把裡面的那道玻璃門關起來，這玻璃門有兩個鎖，鑰匙鎖上後，門栓栓上，門閂只要栓其中一邊就好（不然隔天早班的大哥或大姐會很火大）再把裡面的鐵捲門下下來</li>
                    <li>接下來可以下廁所外面鐵捲門，在下之前要大聲地尋問廁所裡是否還有人，如果有人要等到他出來才可以下鐵捲門</li>
                    <li>後棟走廊的電燈，通常要留下轉角的那盞電燈</li>
                    <li>B219 外面的玻璃門，關起來後按照門上面的指示關起來並把門栓栓好，假如 B219 裡面還有人，可以問看看是否要由他們關門，不然門就先關一半起來就好</li>
                </ol>
            </div>
            <div id="4" class="section scrollspy">
                <h1 class="article-title">前棟</h1>
                <ol>
                    <li> 在商管通往藍白小鎮的那個出口，有兩道鐵捲門還有一扇玻璃門，鐵捲門只要下其中一扇就好了，另外一扇壞很久了不要理他。玻璃關關上把中間以及右邊下面的門閂栓好就可以了 </li>
                    <li>在同一個出口旁（B204 旁邊），把安全門直接關好後，下鐵捲門，安全門本身不需要上鎖 </li>
                    <li>之後把前棟走廊的電燈也都關上，一樣留下轉角的那盞電燈 </li>
                    <li>在 B201 旁邊的鐵門要先將左側的鐵門關起來後，才可以下右側的鐵捲門，不然就等著留下來加班修鐵捲門 </li>
                    <li>前棟特別注意，在晚上9點前後，確認所有前棟教室（B201、B203、B204、B206、B213）的門、窗、電源是否都已經關閉 </li>
                </ol>
            </div>
            <div id="5" class="section scrollspy">
                <h1 class="article-title">其他</h1>
                <p>鐵捲門開關大部份都有鎖，除了 B213 旁以及藍白小鎮出口的沒有鎖之外，其他都要鎖起來</p>
            </div>
        </div>
        <!-- Table of contents -->
        <div class="col hide-on-small-only m3 l2">
            <div class="toc-wrapper">
                <div style="height: 1px;">
                    <ul class="table-of-contents">
                        <li><a href="#1">示意圖</a></li>
                        <li><a href="#2">圖示解說</a></li>
                        <li><a href="#3">後棟</a></li>
                        <li><a href="#4">前棟</a></li>
                        <li><a href="#5">其他</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end of table contents -->
    </div>
</div>

    </main><footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">讓網站變更好！</h5>
                <p class="grey-text text-lighten-4">如果有任何錯誤或是遺漏，請大家多多回報，我會盡快修改，針對目前的工作內容有任何建議的也歡迎提出來
                </p>
            </div>
            <div class="col l6 s12" style="overflow: hidden;">
                <h5 class="white-text">GitHub</h5>
                <iframe src="https://ghbtns.com/github-btn.html?user=crazycat836&repo=TKUB212Doc&type=watch&count=false&v=2" allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 All rights reserved
            <a class="grey-text text-lighten-4 right" href="#">Made with <i class="tiny material-icons">favorite</i></a>
        </div>
    </div>
</footer>
<!--  Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/hammerjs/2.0.8/hammer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  </body>
</html>