<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="一份給 B212 的教學手冊 ">
    <title>CTSC－TKUB212</title>
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="imgs/ic_desktop_mac_36pt_2x.png">
    <!--meta(name='msapplication-TileColor', content='#FFFFFF')-->
    <!--meta(name='msapplication-TileImage', content='images/favicon/mstile-144x144.png')-->
    <link rel="icon" href="imgs/ic_desktop_mac_black_36dp_2x.png" sizes="32x32">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">
    <!-- CSS--><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="top-nav teal">
        <div class="container">
          <div class="nav-wrapper">
            <div class="row">
              <div class="col s12 m10 offset-m1">
                <h2 class="header">CTSC</h2>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="container"><a class="top-nav sidenav-trigger full hide-on-large-only" href="#" data-target="nav-mobile"><i class="material-icons">menu</i></a></div>
      <ul class="sidenav sidenav-fixed" id="nav-mobile">
        <li class="logo" href="/"><a class="brand-logo" id="logo-container">
            <object id="front-page-logo" type="image/svg+xml" data="imgs/penguin.svg" width="100px" height="100px">Your browser does not support SVG</object></a></li>
        <li class="bold"><a class="waves-effect waves-teal" href="notice.html">上班注意事項</a></li>
        <li class="bold"><a class="waves-effect waves-teal" href="phone.html">電話禮儀</a></li>
        <li class="bold"><a class="waves-effect waves-teal" href="office.html">辦公室常見狀況</a></li>
        <li class="bold"><a class="waves-effect waves-teal" href="system.html">事件申請系統</a></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">印表機</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="printerIP_1606dn.html">修改印表機 IP (1606dn)</a></li>
                  <li><a href="printerip_M201dw.html">修改印表機 IP (201dw)</a></li>
                  <li><a href="printer.html">耗材更換</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">維修常見狀況</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="fcomputer.html">電腦</a></li>
                  <li><a href="fprinter.html">印表機</a></li>
                </ul>
              </div>
            </li>
            <li class="bold active"><a class="collapsible-header waves-effect waves-teal">對拷</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="diskcopy.html">硬碟對拷</a></li>
                  <li><a href="netcopy.html">網路對拷</a></li>
                  <li class="active"><a href="ctsc.html">CTSC</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li class="bold"><a class="waves-effect waves-teal" href="diskscan.html">硬碟掃描</a></li>
        <li class="bold"><a class="waves-effect waves-teal" href="rhd.html">RHD</a></li>
        <li class="bold"><a class="waves-effect waves-teal" href="close.html">關前後棟</a></li>
      </ul>
    </header>
    <main><div class="container">
    <!--  Outer row  -->
    <div class="row">
        <div class="col s12 m8 offset-m1 xl7 offset-xl1">
            <div id="1" class="section scrollspy">
                <p class="caption">這篇主要介紹網頁版 CTSC，和舊版界面雷同</p>
                <h4 class="header">注意事項</h4>
                <ol>
                    <li>這個程式只在 1 號機或者是老師機才有</li>
                    <li>要用 chrome 開才能正常使用</li>
                </ol>
            </div>
            <div id="2" class="section scrollspy">
                <h4 class="header">使用教學</h4>
                <h5 class="header">如何登入</h5>
                <p>檔案位於 Ｃ:/ipcedu1920－1080/ 裡面</p>
                <img class="responsive-img materialboxed lazy" data-original="imgs/ctsc1.jpg" width="1000"
                     height="1200">
                <p>對著 CTSC Login 點擊右鍵 -> 內容，會跳出一個新的視窗，CTSC 的網址</p>
                <img class="responsive-img materialboxed lazy" data-original="imgs/ctsc2.jpg" width="1000"
                     height="1200">
                <p>將網址複製到 chrome 內打開，會看到下面的畫面</p>
                <img class="responsive-img materialboxed lazy" data-original="imgs/ctsc3.jpg" width="1000"
                     height="1200">
                <p>輸入帳號密碼後登入</p>
            </div>
            <div id="3" class="section scrollspy">
                <h4 class="header">功能介紹</h4>
                <h5 class="header">電腦控制</h5>
                <img class="responsive-img materialboxed lazy" data-original="imgs/ctsc4.jpg" width="1000"
                     height="1200">
                <p>在這個用戶端控制畫面中，我們可以對所有已經開機的電腦，進行一些控制</p>
                <ul>
                    <li>遠端重啓：將所有電腦重新啓動</li>
                    <li>遠端關機：將所有電腦關機</li>
                    <li>網路喚醒：打開關機中的電腦</li>
                    <p>網路喚醒功能，必須要在總電源未關閉，而且當天那天電腦有開機過的情況下，才可以使用</p>
                </ul>
                <h5 class="header">保護控制</h5>
                <p>在保護控制中，我們可以看到已經開機的電腦是處於總管模式或是保護模式</p>
                <img class="responsive-img materialboxed lazy" data-original="imgs/ctsc5.jpg" width="1000"
                     height="1200">
                <h5 class="header">保護切換</h5>
                <p>選取電腦後，選擇系統切換，會跳出下圖視窗</p>
                <img class="responsive-img materialboxed lazy" data-original="imgs/ctsc6.jpg" width="1000"
                     height="1200">
                <p>選擇要切換的系統後，點選下一步會跳到下圖</p>
                <img class="responsive-img materialboxed lazy" data-original="imgs/ctsc7.jpg" width="1000"
                     height="1200">
                <p>選擇要切換地模式後，按下確定，等待電腦重啓切換模式吧！</p>
                <h5 class="header">遠端命令</h5>
                <p>在行爲管控頁面內，我們可以使用遠端命令，讓選取的電腦執行 windows 內建的指令</p>
                <img class="responsive-img materialboxed lazy" data-original="imgs/ctsc9.jpg" width="1000"
                     height="1200">
                <p>下圖是點選上方執行命令鈕，跳出的畫面</p>
                <p>命令類別：看你是要執行指令，或者是打開文件或程式</p>
                <p>命令名稱：隨意輸入你喜歡的名稱</p>
                <p>命令輸入：可以執行 windows 內建的指令</p>
                <img class="responsive-img materialboxed lazy" data-original="imgs/ctsc10.jpg" width="1000"
                     height="1200">



            </div>
        </div>
        <!-- Table of contents -->
        <div class="col hide-on-small-only m3 xl3 offset-xl1">
            <div class="toc-wrapper">
                <div style="height: 1px;">
                    <ul class="section table-of-contents">
                        <li>
                            <a href="#1">注意事項</a>
                        </li>
                        <li>
                            <a href="#2">使用教學</a>
                        </li>
                        <li>
                            <a href="#3">功能介紹</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end of table contents -->
    </div>
</div>
    </main><footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">讓網站變更好！</h5>
                <p class="grey-text text-lighten-4">如果有任何錯誤或是遺漏，請大家多多回報，我會盡快修改，針對目前的工作內容有任何建議的也歡迎提出來
                </p>
            </div>
            <div class="col l6 s12" style="overflow: hidden;">
                <h5 class="white-text">GitHub</h5>
                <iframe src="https://ghbtns.com/github-btn.html?user=crazycat836&repo=TKUB212Doc&type=watch&count=false&v=2" allowtransparency="true"
                    frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016-2019 All rights reserved
            <a class="grey-text text-lighten-4 right" href="#">Made with
                <i class="tiny material-icons">favorite</i>
            </a>
        </div>
    </div>
</footer><!--  Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>