<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="一份給 B212 的教學手冊 ">
    <title>硬碟掃描－TKUB212</title>
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="imgs/ic_desktop_mac_36pt_2x.png">
    <!--meta(name='msapplication-TileColor', content='#FFFFFF')-->
    <!--meta(name='msapplication-TileImage', content='images/favicon/mstile-144x144.png')-->
    <link rel="icon" href="imgs/ic_desktop_mac_black_36dp_2x.png" sizes="32x32">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">
    <!-- CSS--><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="top-nav teal">
        <div class="container">
          <div class="nav-wrapper">
            <div class="row">
              <div class="col s12 m10 offset-m1">
                <h2 class="header">硬碟掃描</h2>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="container"><a class="top-nav sidenav-trigger full hide-on-large-only" href="#" data-target="nav-mobile"><i class="material-icons">menu</i></a></div>
      <ul class="sidenav sidenav-fixed" id="nav-mobile">
        <li class="logo" href="/"><a class="brand-logo" id="logo-container">
            <object id="front-page-logo" type="image/svg+xml" data="imgs/penguin.svg" width="100px" height="100px">Your browser does not support SVG</object></a></li>
        <li class="bold"><a class="waves-effect waves-teal" href="notice.html">上班注意事項</a></li>
        <li class="bold"><a class="waves-effect waves-teal" href="phone.html">電話禮儀</a></li>
        <li class="bold"><a class="waves-effect waves-teal" href="office.html">辦公室常見狀況</a></li>
        <li class="bold"><a class="waves-effect waves-teal" href="system.html">事件申請系統</a></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">印表機</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="printerIP_1606dn.html">修改印表機 IP (1606dn)</a></li>
                  <li><a href="printerip_M201dw.html">修改印表機 IP (201dw)</a></li>
                  <li><a href="printer.html">耗材更換</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">維修常見狀況</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="fcomputer.html">電腦</a></li>
                  <li><a href="fprinter.html">印表機</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal">對拷</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="diskcopy.html">硬碟對拷</a></li>
                  <li><a href="netcopy.html">網路對拷</a></li>
                  <li><a href="ctsc.html">CTSC</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li class="bold active"><a class="waves-effect waves-teal" href="diskscan.html">硬碟掃描</a></li>
        <li class="bold"><a class="waves-effect waves-teal" href="rhd.html">RHD</a></li>
        <li class="bold"><a class="waves-effect waves-teal" href="close.html">關前後棟</a></li>
      </ul>
    </header>
    <main><div class="container">
    <!--  Outer row  -->
    <div class="row">
        <div class="col s12 m8 offset-m1 xl7 offset-xl1">
            <div id="1" class="section scrollspy">
                <p class="caption">除了修改 BIOS 之外，還要記得拔還原卡</p>
                <h4 class="header">修改 BIOS</h4>
                <p>先進 BIOS 檢查 SATA mode 是不是 IDE</p>
                <p>如果是 AHCI，掃描程式會抓不到硬碟</p>
                <p>輸入密碼，進入 BIOS 後，依照圖片順序去檢查</p>
                <img class="responsive-img materialboxed lazy" data-original="imgs/diskscan1.jpg" width="1000"
                     height="1200">
                <br>
                <img class="responsive-img materialboxed lazy" data-original="imgs/diskscan2.jpg" width="1000"
                     height="1200">
                <br>
                <img class="responsive-img materialboxed lazy" data-original="imgs/diskscan3.jpg" width="1000"
                     height="1200">
                <p>如果有修改設定，記得先儲存設定在重新開機</p>
            </div>
            <div id="2" class="section scrollspy">
                <i class="fas fa-caret-right"></i>
                <h4 class="header">硬碟掃描</h4>
                <p>重開機的時候，請按 F12 鍵進入 Boot Menu，選擇光碟 CD-ROM 開機</p>
                <img class="responsive-img materialboxed lazy" data-original="imgs/diskscan4.jpg" width="1000"
                     height="1200">
                <p>之後會進到下圖的畫面，選擇 MHDD </p>
                <img class="responsive-img materialboxed lazy" data-original="imgs/diskscan5.jpg" width="1000"
                     height="1200">
                <p>直接按 Enter 進入</p>
                <img class="responsive-img materialboxed lazy" data-original="imgs/diskscan6.jpg" width="1000"
                     height="1200">
                <p>之後會看到裝置列表，硬碟在 1 號，輸入 1 之後按 Enter</p>
                <p>如果沒看到硬碟，檢查 SATA mode 是否有改成 IDE，或是將 SATA 換插槽</p>
                <img class="responsive-img materialboxed lazy" data-original="imgs/diskscan7.jpg" width="1000"
                     height="1200">
                <p>按下 F4 後會出現下列畫面 ，這邊設定維持預設值不做修改，再按一次 F4</p>
                <img class="responsive-img materialboxed lazy" data-original="imgs/diskscan8.jpg" width="1000"
                     height="1200">
                <p>這邊要注意掃描結果，是否有出現 ERROR 或是 > 500ms 的區塊過多，這樣代表硬碟可能有問題</p>
                <img class="responsive-img materialboxed lazy" data-original="imgs/diskscan9.jpg" width="1000"
                     height="1200">
            </div>
        </div>
        <!-- Table of contents -->
        <div class="col hide-on-small-only m3 xl3 offset-xl1">
            <div class="toc-wrapper">
                <div style="height: 1px;">
                    <ul class="section table-of-contents">
                        <li>
                            <a href="#1">修改 BIOS</a>
                        </li>
                        <li>
                            <a href="#2">硬碟掃描</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end of table contents -->
    </div>
</div>
    </main><footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">讓網站變更好！</h5>
                <p class="grey-text text-lighten-4">如果有任何錯誤或是遺漏，請大家多多回報，我會盡快修改，針對目前的工作內容有任何建議的也歡迎提出來
                </p>
            </div>
            <div class="col l6 s12" style="overflow: hidden;">
                <h5 class="white-text">GitHub</h5>
                <iframe src="https://ghbtns.com/github-btn.html?user=crazycat836&repo=TKUB212Doc&type=watch&count=false&v=2" allowtransparency="true"
                    frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016-2019 All rights reserved
            <a class="grey-text text-lighten-4 right" href="#">Made with
                <i class="tiny material-icons">favorite</i>
            </a>
        </div>
    </div>
</footer><!--  Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>