<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="A Document for B212. ">
    <title>硬碟掃描 - TKUB212</title>
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="imgs/ic_desktop_mac_36pt_2x.png">
    <!--meta(name='msapplication-TileColor', content='#FFFFFF')-->
    <!--meta(name='msapplication-TileImage', content='images/favicon/mstile-144x144.png')-->
    <link rel="icon" href="../imgs/ic_desktop_mac_black_36dp_2x.png" sizes="32x32">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">
    <!-- CSS--><link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="top-nav teal darken-1">
        <div class="container">
          <div class="nav-wrapper"><a class="page-title">硬碟掃描</a></div>
        </div>
      </nav>
      <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></div>
      <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo"><a id="logo-container" href="" class="brand-logo">
            <object id="front-page-logo" type="image/svg+xml" data="../imgs/mac_blac.svg">Logo is here !!</object></a></li>
        <li class="bold"><a href="#" class="waves-effect waves-teal">關於</a></li>
        <li class="bold"><a href="notice.html" class="waves-effect waves-teal">上班注意事項</a></li>
        <li class="bold"><a href="phone.html" class="waves-effect waves-teal">電話禮儀</a></li>
        <li class="bold"><a href="office.html" class="waves-effect waves-teal">辦公室常見狀況</a></li>
        <li class="bold"><a href="system.html" class="waves-effect waves-teal">事件申請系統</a></li>
        <li class="bold"></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">印表機</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="printerip.html">修改印表機 IP</a></li>
                  <li class="hide"><a href="#">修改印表機 IP(new)</a></li>
                  <li><a href="printer.html">耗材更換</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">維修常見狀況</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="fcomputer.html">電腦</a></li>
                  <li><a href="fprinter.html">印表機</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">對拷</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="diskcopy.html">硬碟對拷</a></li>
                  <li><a href="netcopy.html">網路對拷</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li class="bold active"><a href="diskscan.html" class="waves-effect waves-teal">硬碟掃描</a></li>
        <li class="bold"><a href="rhd.html" class="waves-effect waves-teal">RHD</a></li>
        <li class="bold"><a href="close.html" class="waves-effect waves-teal">關前後棟</a></li>
      </ul>
    </header>
    <main><div class="container">
    <!--  Outer row  -->
    <div class="row">
        <div class="col s12 m9 l10">
            <div id="1" class="section scrollspy">             
                <h3 class="header">硬碟掃描</h3>
                <p class="caption">用一個簡單的程式，來檢測硬碟是否有壞軌</p>
                
            </div>

        </div>
        <!-- Table of contents -->
        <div class="col hide-on-small-only m3 l2">
            <div class="toc-wrapper">
                <div style="height: 1px;">
                    <ul class="table-of-contents">
                        <li><a href="#1">硬碟掃描</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <!-- end of table contents -->
    </div>
</div>

    </main><footer class="page-footer teal darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">讓網站變更好！</h5>
                <p class="grey-text text-lighten-4">如果有任何錯誤或是遺漏，請大家多多回報，我會盡快修改，針對目前的工作內容有任何建議的也歡迎提出來
                </p>
            </div>
            <div class="col l6 s12" style="overflow: hidden;">
                <h5 class="white-text">Connect</h5>
                <iframe src="https://ghbtns.com/github-btn.html?user=twbs&repo=bootstrap&type=watch&count=false&size=large&v=2" allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 All rights reserved
            <a class="grey-text text-lighten-4 right" href="#">Made with <i class="tiny material-icons">favorite</i></a>
        </div>
    </div>
</footer>
<!--  Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
if (!window.jQuery) {
    document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">');
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  </body>
</html>