<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="A Document for B212. ">
    <title>上班注意事項－TKUB212</title>
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="imgs/ic_desktop_mac_36pt_2x.png">
    <!--meta(name='msapplication-TileColor', content='#FFFFFF')-->
    <!--meta(name='msapplication-TileImage', content='images/favicon/mstile-144x144.png')-->
    <link rel="icon" href="imgs/ic_desktop_mac_black_36dp_2x.png" sizes="32x32">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">
    <!-- CSS--><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="top-nav teal">
        <div class="container">
          <div class="nav-wrapper"><a class="page-title">上班注意事項</a></div>
        </div>
      </nav>
      <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></div>
      <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo"><a id="logo-container" href="" class="brand-logo">
            <object id="front-page-logo" type="image/svg+xml" data="">Logo is here！</object></a></li>
        <li class="bold hide"><a href="about.html" class="waves-effect waves-teal">關於</a></li>
        <li class="bold active"><a href="notice.html" class="waves-effect waves-teal">上班注意事項</a></li>
        <li class="bold"><a href="phone.html" class="waves-effect waves-teal">電話禮儀</a></li>
        <li class="bold"><a href="office.html" class="waves-effect waves-teal">辦公室常見狀況</a></li>
        <li class="bold"><a href="system.html" class="waves-effect waves-teal">事件申請系統</a></li>
        <li class="bold"></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">印表機</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="printerip.html">修改印表機 IP</a></li>
                  <li class="hide"><a href="#">修改印表機 IP(new)</a></li>
                  <li><a href="printer.html">耗材更換</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">維修常見狀況</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="fcomputer.html">電腦</a></li>
                  <li><a href="fprinter.html">印表機</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">對拷</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="diskcopy.html">硬碟對拷</a></li>
                  <li><a href="netcopy.html">網路對拷</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li class="bold"><a href="diskscan.html" class="waves-effect waves-teal">硬碟掃描</a></li>
        <li class="bold"><a href="rhd.html" class="waves-effect waves-teal">RHD</a></li>
        <li class="bold"><a href="close.html" class="waves-effect waves-teal">關前後棟</a></li>
      </ul>
    </header>
    <main><div class="container">
    <!--  Outer row  -->
    <div class="row">
        <div class="col s12 m9 l10">
            <div id="1" class="section scrollspy">
                <h3 class="header">注意事項</h3>
                <p class="caption">這邊列出來的，請大家務必遵守</p>
                <ol>
                    <li>上下班務必簽到及簽退，出缺勤相關問題：請假、調班或缺少當班時數，請事先找連姐詢問及報備</li>
                    <li>請勿遲到早退，有特殊狀況請向連姐報備，若連姐不在，可留紙條在連姐的辦公桌上</li>
                    <li>上班請勿穿脫鞋，值班者須穿著資訊處背心</li>
                    <li>上班前先檢查當下碳粉匣及白紙的登記數量與實際數量是否相同，以免之後引起爭議</li>
                    <li>隨時注意進入辦公室的人並主動打招呼，詢問對方是否需要幫忙，詳細請看 <a href="office.html">常見狀況</a></li>
                    <li>值班人員須隨時注意事件申請系統內是否有必須處理的故障申請單，需要負責處理的單子為地點：E313、E314、B201、B203、B204、B206、B213、B130、B113</li>
                    <li>若有事需交接至別班工讀生時，務必口頭通知或留下明顯的紙條、訊息，並清楚描述狀況及交給哪一班工讀生</li>
                    <li>遇到任何問題無法解決，可詢問大哥大姐，請不要回答現在無法幫你處理！</li>
                </ol>
            </div>
            <div id="2" class="section scrollspy">
                <h3 class="header">各班工作</h3>
                <p class="caption">下面列出的不是所有的事情，只是將一些比較需要注意的列出來</p>
                <h5>早班</h5>
                <p>禮拜二、禮拜四送遺失物到教官室</p>
                <p>禮拜三送學生證到教官室</p>
                <p>等實習室工讀生到了之後開實習室的門、不要遲到、帶工讀生去做打掃</p>
                <p>早班每間實習室有固定排維修時間，拿掃具給他們就好了</p>
                <h5>中班</h5>
                <p>14：00 結算耗材數量</p>
                <h5>晚班</h5>
                <p>每一間實習室都要確實將電源關閉，還要確認每一間的每一個窗戶是否有關緊</p>
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header">印實習室預約單</div>
                        <div class="collapsible-body">
                            <p>平日星期一到星期四，只需要印隔天全部實習室的預約單兩份
                                <br> 星期五或隔天是國定假日放假停班，就要印每個放假日的 E313、E314 各兩份（並請當天大夜班帶去工館），以及下一次工作日的預約單兩份
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">大夜班簽到</div>
                        <div class="collapsible-body">
                            <p>大夜班簽到本放在工讀生座位的後方</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">關前後棟</div>
                        <div class="collapsible-body">
                            <p>點<a href="close.html"> 這裡 </a>進入看詳細流程</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">晚班打掃</div>
                        <div class="collapsible-body">
                            <p>連姐會貼一張表格在冷氣上，依照那張表上去打掃，晚班打掃完指定的教室後，記得要讓打掃工讀生去沒上課的教室撿垃圾</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Table of contents -->
        <div class="col hide-on-small-only m3 l2">
            <div class="toc-wrapper">
                <div style="height: 1px;">
                    <ul class="table-of-contents">
                        <li><a href="#1">注意事項</a></li>
                        <li><a href="#2">各班工作</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end of table contents -->
    </div>
</div>

    </main><footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">讓網站變更好！</h5>
                <p class="grey-text text-lighten-4">如果有任何錯誤或是遺漏，請大家多多回報，我會盡快修改，針對目前的工作內容有任何建議的也歡迎提出來
                </p>
            </div>
            <div class="col l6 s12" style="overflow: hidden;">
                <h5 class="white-text">GitHub</h5>
                <iframe src="https://ghbtns.com/github-btn.html?user=crazycat836&repo=TKUB212Doc&type=watch&count=false&v=2" allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 All rights reserved
            <a class="grey-text text-lighten-4 right" href="#">Made with <i class="tiny material-icons">favorite</i></a>
        </div>
    </div>
</footer>
<!--  Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
if (!window.jQuery) {
    document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">');
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  </body>
</html>