<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="一份給 B212 的教學手冊 ">
    <title>常見狀況－TKUB212</title>
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="imgs/ic_desktop_mac_36pt_2x.png">
    <!--meta(name='msapplication-TileColor', content='#FFFFFF')-->
    <!--meta(name='msapplication-TileImage', content='images/favicon/mstile-144x144.png')-->
    <link rel="icon" href="imgs/ic_desktop_mac_black_36dp_2x.png" sizes="32x32">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">
    <!-- CSS--><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="top-nav teal">
        <div class="container">
          <div class="nav-wrapper"><a class="page-title">常見狀況</a></div>
        </div>
      </nav>
      <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></div>
      <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo"><a id="logo-container" href="index.html" class="brand-logo">
            <object id="front-page-logo" type="image/svg+xml" data="">Logo is here！</object></a></li>
        <li class="bold"><a href="notice.html" class="waves-effect waves-teal">上班注意事項</a></li>
        <li class="bold"><a href="phone.html" class="waves-effect waves-teal">電話禮儀</a></li>
        <li class="bold"><a href="office.html" class="waves-effect waves-teal">辦公室常見狀況</a></li>
        <li class="bold"><a href="system.html" class="waves-effect waves-teal">事件申請系統</a></li>
        <li class="bold"></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">印表機</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="printerip.html">修改印表機 IP</a></li>
                  <li class="hide"><a href="#">修改印表機 IP(new)</a></li>
                  <li><a href="printer.html">耗材更換</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">維修常見狀況</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="fcomputer.html">電腦</a></li>
                  <li><a href="fprinter.html">印表機</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">對拷</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="diskcopy.html">硬碟對拷</a></li>
                  <li><a href="netcopy.html">網路對拷</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li class="bold"><a href="diskscan.html" class="waves-effect waves-teal">硬碟掃描</a></li>
        <li class="bold"><a href="rhd.html" class="waves-effect waves-teal">RHD</a></li>
        <li class="bold"><a href="close.html" class="waves-effect waves-teal">關前後棟</a></li>
      </ul>
    </header>
    <main><div class="container">
    <!--  Outer row  -->
    <div class="row">
        <div class="col s12 m9 l10">
            <div id="1" class="section scrollspy">
                <h1 class="article-title">找遺失物</h1>
                <p class="caption">辦公室中最常遇到的就是來詢問遺失物</p>
                <h2 class="subarticle-title">尋找學生證</h2>
                <p>先詢問同學遺失的時間和同學的系級及姓名，先在座位後方遺失物放置處找看看，若沒有再查看學生證遺失名單</p>
                <p>若在遺失名單上有找到同學的名字，請同學到教官室領取學生證</p>
                <p>若遺失名單上沒有找到同學的名字，可詢問掉落地點和掉落時的狀況，若掉落地點非實習室且掉落方式並非是經由實習室工讀生經手（工讀生給錯學生證，被另一位同學領走）的狀況，可以請學生至教官室去詢問</p>
                <p>若確定是經由實習室工讀生給錯遺失了學生證，請同學先留下姓名、系級、學號、聯絡方式和遺失時借用哪間教室的哪個座位，告知對方會尋找看看是否有其他同學拿錯學生證，再請連姐協助處理</p>
                <h2 class="subarticle-title">尋找證件</h2>
                <p>若不在遺失物放置處，請同學直接到教官室去詢問</p>
                <h2 class="subarticle-title">尋找 USB 或隨身硬碟</h2>
                <p>詢問同學 USB 或隨身硬碟的特徵（顏色、廠牌、容量），若沒找到，請同學直接到教官室去詢問</p>
                <p>若有找到，需向同學確認 USB 裡面的資料，對照正確即可交還給同學</p>
                <h2 class="subarticle-title">其他物品</h2>
                <p>若遺失物放置處沒有該同學的遺失物，可告知我們一段時間內會將遺失物送至教官室，請同學到教官室去詢問</p>
            </div>
            <div id="2" class="section scrollspy">
                <h1 class="article-title">借文具</h1>
                <p>辦公室內有大釘書機、膠水、膠帶、剪刀等基本文具，如果同學要借用，請同學在辦公室裡面使用，讓他們站在打卡電腦旁的桌子外面使用，不要讓他們進入到我們的工作區域內</p>
            </div>
            <div id="3" class="section scrollspy">
                <h1 class="article-title">詢問授權軟體安裝光碟</h1>
                <p>學校有提供授權軟體安裝光碟，但是光碟不在資訊處</p>
                <p>同學前來詢問時可告知同學所有光碟都只能在系辦借用</p>
                <p>另外也可以請同學使用淡江軟體雲，如有相關問題請詢問辦公室內的軟體雲工讀生</p>
            </div>
            <div id="4" class="section scrollspy">
                <h1 class="article-title">個人電腦維修</h1>
                <p>這邊不負責維修學生的個人電腦設備</p>
                <p>若為校內其他處辦公室的電腦設備請老師上網至學校官網 --> 職員 --> 常用連結之<a href="system.html"> 電腦維修申請 </a>申請維修</p>
            </div>
            <div id="5" class="section scrollspy">
                <h1 class="article-title">電腦教室上課</h1>
                <h2 class="subarticle-title">同學或老師請工讀生開門</h2>
                <p>先詢問對方身分，如果是同學，要先詢問老師或助教是否已經在教室門口，只有老師和助教在的狀況才能幫忙開門</p>
                <p>請勿讓同學在老師和助教不在時進入實習室，可告知同學學校財產若有缺失，是要助教或老師負責</p>
                <p>老師或助教來請人開門時，先在辦公室門口的課表和預約系統上查詢是否有該課，確認在該節課有上課後再去幫忙開門</p>
                <p>開門時直接將學生證放置黑色的感應器，逼聲後輸入密碼（身分證後四碼）門就會解鎖</p>
                <h2 class="subarticle-title">老師要求將電腦實習室斷網</h2>
                <p>Q1：老師需要切斷對外網路，但要保留實習室內導師機對學生機的連線（區網連線）</p>
                <p>A1：找到實習室內的網路交換器機櫃，打開機櫃後找到一條標有該間實習室名稱標籤的網路線並拔掉它即可</p>
                <p>e.g.：B213 的老師需要斷網，查看 B213 的機櫃，可以在最右上角找到一條標有”B213A“的網路線，拔掉即完成斷網。需要連網時再將網路線插回原本的位置即可</p>
                <p>Q2：老師需要切斷整間網路</p>
                <p>A2：直接找到機櫃內的排插（電源延長線），將排插的電源關閉即可</p>
                <p>需要連網時再將電源打開後須等待一段時間後才會恢復網路</p>
            </div>
            <div id="6" class="section scrollspy">
                <h1 class="article-title">設備無法使用</h1>
                <p>實習室內的電腦有狀況，請查看<a href="fcomputer.html"> 電腦維修常見狀況 </a></p>
                <p>實習室內的設備如麥克風、音響、投影機有狀況或老師不會使用，有以下解決方式</p>
                <p>若不確定是設備無法正常運作還是操作方法錯誤，可詢問大哥大姊如何解決該問題</p>
                <p>確定是該設備無法正常運作，可打分機號碼到遠距教學組（分機 2310）請他們的工讀生來查看狀況，並請上課老師耐心等待</p>
                <h2 class="subarticle-title">設備異常狀況應對方式</h2>
                <p>麥克風：如沒有聲音、聲音斷斷續續的或是有雜音，大多數都是設備本身有問題，可以直接請遠距組前來查看</p>
                <p>喇叭：確認音量紐是否有調到正確的位置，電腦是否被設定成靜音</p>
                <p>投影機：請先確認投影機電源是否有打開，訊號來源是否有切換到正確的位置</p>
                <p>若有其他疑難雜症不知道該如何應對，可以直接詢問大哥大姊，請勿讓上課中的老師等待太久</p>
            </div>
            <div id="7" class="section scrollspy">
                <h1 class="article-title">工讀報名</h1>
                <p>如果有同學想要報名實習室工讀，我們報名時間是在暑假，寒假是用續任的方式</p>
                <p>請同學拿取報名表，並告知報名表上的每一個地方都要填且需附上成績單及照片，請同學盡量勾選可以排班的時間，可先參考上學期的課表，選完課之後可以再找連姐修改</p>
                <p>交回報名表時,請同學交給連姐，如果連姐不在位置上，可以先幫同學把報名表放在連姐的桌上</p>
            </div>
            <div id="8" class="section scrollspy">
                <h1 class="article-title">遺失物移送</h1>
                <p>證件類（非學生證）、隨身碟、錢包等等其他遺失物，禮拜二、禮拜四送遺失物到教官室</p>
            </div>
        </div>
        <!-- Table of contents -->
        <div class="col hide-on-small-only m3 l2">
            <div class="toc-wrapper">
                <div style="height: 1px;">
                    <ul class="table-of-contents">
                        <li><a href="#1">找遺失物</a></li>
                        <li><a href="#2">借文具</a></li>
                        <li><a href="#3">授權軟體安裝</a></li>
                        <li><a href="#4">個人電腦維修</a></li>
                        <li><a href="#5">電腦教室上課</a></li>
                        <li><a href="#6">設備無法使用</a></li>
                        <li><a href="#7">工讀報名</a></li>
                        <li><a href="#8">遺失物移送</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end of table contents -->
    </div>
</div>

    </main><footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">讓網站變更好！</h5>
                <p class="grey-text text-lighten-4">如果有任何錯誤或是遺漏，請大家多多回報，我會盡快修改，針對目前的工作內容有任何建議的也歡迎提出來
                </p>
            </div>
            <div class="col l6 s12" style="overflow: hidden;">
                <h5 class="white-text">GitHub</h5>
                <iframe src="https://ghbtns.com/github-btn.html?user=crazycat836&repo=TKUB212Doc&type=watch&count=false&v=2" allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 All rights reserved
            <a class="grey-text text-lighten-4 right" href="#">Made with <i class="tiny material-icons">favorite</i></a>
        </div>
    </div>
</footer>
<!--  Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

  </body>
</html>