<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="一份給 B212 的教學手冊 ">
    <title>電話禮儀－TKUB212</title>
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="imgs/ic_desktop_mac_36pt_2x.png">
    <!--meta(name='msapplication-TileColor', content='#FFFFFF')-->
    <!--meta(name='msapplication-TileImage', content='images/favicon/mstile-144x144.png')-->
    <link rel="icon" href="imgs/ic_desktop_mac_black_36dp_2x.png" sizes="32x32">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">
    <!-- CSS--><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="top-nav teal">
        <div class="container">
          <div class="nav-wrapper"><a class="page-title">電話禮儀</a></div>
        </div>
      </nav>
      <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></div>
      <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo"><a id="logo-container" href="" class="brand-logo">
            <object id="front-page-logo" type="image/svg+xml" data="">Logo is here！</object></a></li>
        <li class="bold"><a href="notice.html" class="waves-effect waves-teal">上班注意事項</a></li>
        <li class="bold active"><a href="phone.html" class="waves-effect waves-teal">電話禮儀</a></li>
        <li class="bold"><a href="office.html" class="waves-effect waves-teal">辦公室常見狀況</a></li>
        <li class="bold"><a href="system.html" class="waves-effect waves-teal">事件申請系統</a></li>
        <li class="bold"></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">印表機</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="printerip.html">修改印表機 IP</a></li>
                  <li class="hide"><a href="#">修改印表機 IP(new)</a></li>
                  <li><a href="printer.html">耗材更換</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">維修常見狀況</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="fcomputer.html">電腦</a></li>
                  <li><a href="fprinter.html">印表機</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">對拷</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="diskcopy.html">硬碟對拷</a></li>
                  <li><a href="netcopy.html">網路對拷</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li class="bold"><a href="diskscan.html" class="waves-effect waves-teal">硬碟掃描</a></li>
        <li class="bold"><a href="rhd.html" class="waves-effect waves-teal">RHD</a></li>
        <li class="bold"><a href="close.html" class="waves-effect waves-teal">關前後棟</a></li>
      </ul>
    </header>
    <main><div class="container">
    <!--  Outer row  -->
    <div class="row">
        <div class="col s12 m9 l10">
            <div id="1" class="section scrollspy">
                <h1 class="article-title">電話禮儀</h1>
                <ol>
                    <li>不需要主動接聽來電，當辦公室職員皆不在位置上或正在忙線中的時候，要幫忙接聽</li>
                    <li>需要接聽別線分機的電話時，查看電話中間橫排白色的分機鈕哪線正在閃紅燈，拿起話筒後按下即可接聽</li>
                    <li>接聽來電請主動先說「教學支援組，您好」然後確認對方的來意，如果接到電話找辦公室其他同仁，請對方稍等，並按右下角「保留」，再請辦公室同仁接聽</li>
                    <li>假如同仁不在位置上，可以請對方留下聯絡方式，並告知同仁回來會請他回電，如果同仁回來時，務必通知剛剛有人來電找他</li>
                </ol>
            </div>
            <div id="2" class="section scrollspy">
                <h1 class="article-title">如何撥分機</h1>
                <p class="caption">使用最右邊的分機鈕（五線或六線）</p>
                <ol>
                    <li>打電話至校內其他處室分機，拿起話筒後按下未亮燈的分機鈕，再直接輸入分機號碼即可</li>
                    <li>打電話至校外號碼，用劉大哥座位左側的電話才能對外撥出電話</li>
                    <li>轉分機：先按下電話上暫切鈕，播分機，等到有嘟嘟聲之後才掛斷</li>
                </ol>
            </div>
            <div id="3" class="section scrollspy">
                <h1 class="article-title">常見分機</h1>
                <h2 class="subarticle-title">對外相關業務</h2>
                <table class="responsive-table striped">
                    <thead>
                        <tr>
                            <th data-field="id">負責業務</th>
                            <th data-field="name">單位位置</th>
                            <th data-field="price">電話</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>電腦軟硬體相關故障</td>
                            <td>電腦維修隊（B219）</td>
                            <td>2484</td>
                        </tr>
                        <tr>
                            <td>淡水實習室、電腦教室借用</td>
                            <td>連楨怡</td>
                            <td>2128</td>
                        </tr>
                        <tr>
                            <td>台北實習室、電腦教室借用</td>
                            <td>鄭松棻</td>
                            <td>8311</td>
                        </tr>
                        <tr>
                            <td>SPSS軟體授權安裝、諮詢</td>
                            <td>張紅燕（B219）</td>
                            <td>2584</td>
                        </tr>
                    </tbody>
                </table>
                <h2 class="subarticle-title">外單位相關業務</h2>
                <table class="responsive-table striped">
                    <thead>
                        <tr>
                            <th data-field="id">負責業務</th>
                            <th data-field="name">單位位置</th>
                            <th data-field="price">電話</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>網路不通、垃圾信、BBS</td>
                            <td>電腦維修隊（B219）</td>
                            <td>2628</td>
                        </tr>
                        <tr>
                            <td>記分簿、單一登入口網、請假系統</td>
                            <td>資訊處聯合服務台（T102）</td>
                            <td>2468</td>
                        </tr>
                        <tr>
                            <td>教學支援平台</td>
                            <td>專案發展組（T101）</td>
                            <td>2397</td>
                        </tr>
                        <tr>
                            <td>校務行政資訊查詢、學務預算、設備系統</td>
                            <td>校務資訊組（T112）</td>
                            <td>2683</td>
                        </tr>
                        <tr>
                            <td>上課教室電腦設備</td>
                            <td>遠距組（I102）</td>
                            <td>2310</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Table of contents -->
        <div class="col hide-on-small-only m3 l2">
            <div class="toc-wrapper">
                <div style="height: 1px;">
                    <ul class="table-of-contents">
                        <li><a href="#1">電話禮儀</a></li>
                        <li><a href="#2">如何撥分機</a></li>
                        <li><a href="#3">常見分機</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end of table contents -->
    </div>
</div>

    </main><footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">讓網站變更好！</h5>
                <p class="grey-text text-lighten-4">如果有任何錯誤或是遺漏，請大家多多回報，我會盡快修改，針對目前的工作內容有任何建議的也歡迎提出來
                </p>
            </div>
            <div class="col l6 s12" style="overflow: hidden;">
                <h5 class="white-text">GitHub</h5>
                <iframe src="https://ghbtns.com/github-btn.html?user=crazycat836&repo=TKUB212Doc&type=watch&count=false&v=2" allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 All rights reserved
            <a class="grey-text text-lighten-4 right" href="#">Made with <i class="tiny material-icons">favorite</i></a>
        </div>
    </div>
</footer>
<!--  Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/hammerjs/2.0.8/hammer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  </body>
</html>