<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="一份給 B212 的教學手冊 ">
    <title>事件申請系統－TKUB212</title>
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="imgs/ic_desktop_mac_36pt_2x.png">
    <!--meta(name='msapplication-TileColor', content='#FFFFFF')-->
    <!--meta(name='msapplication-TileImage', content='images/favicon/mstile-144x144.png')-->
    <link rel="icon" href="imgs/ic_desktop_mac_black_36dp_2x.png" sizes="32x32">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">
    <!-- CSS--><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="top-nav teal">
        <div class="container">
          <div class="nav-wrapper"><a class="page-title">事件申請系統</a></div>
        </div>
      </nav>
      <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></div>
      <ul id="nav-mobile" class="side-nav fixed">
        <li class="logo"><a id="logo-container" href="" class="brand-logo">
            <object id="front-page-logo" type="image/svg+xml" data="">Logo is here！</object></a></li>
        <li class="bold"><a href="notice.html" class="waves-effect waves-teal">上班注意事項</a></li>
        <li class="bold"><a href="phone.html" class="waves-effect waves-teal">電話禮儀</a></li>
        <li class="bold"><a href="office.html" class="waves-effect waves-teal">辦公室常見狀況</a></li>
        <li class="bold active"><a href="system.html" class="waves-effect waves-teal">事件申請系統</a></li>
        <li class="bold"></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">印表機</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="printerip.html">修改印表機 IP</a></li>
                  <li class="hide"><a href="#">修改印表機 IP(new)</a></li>
                  <li><a href="printer.html">耗材更換</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">維修常見狀況</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="fcomputer.html">電腦</a></li>
                  <li><a href="fprinter.html">印表機</a></li>
                </ul>
              </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal">對拷</a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="diskcopy.html">硬碟對拷</a></li>
                  <li><a href="netcopy.html">網路對拷</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li class="bold"><a href="diskscan.html" class="waves-effect waves-teal">硬碟掃描</a></li>
        <li class="bold"><a href="rhd.html" class="waves-effect waves-teal">RHD</a></li>
        <li class="bold"><a href="close.html" class="waves-effect waves-teal">關前後棟</a></li>
      </ul>
    </header>
    <main><div class="container">
    <!--  Outer row  -->
    <div class="row">
        <div class="col s12 m9 l10">
            <div id="1" class="section scrollspy">
                <p class="caption">電腦、印表機及實習室內電腦相關設備（如耳機、滑鼠、鍵盤、鍵盤架、螢幕等等）若有發生故障依狀況決定需要申請故障維修的時候，請打開桌面的事件申請系統頁面進行開單的動作</p>
                <p>事件申請系統網址：<a href="http://dormnet.tku.edu.tw/repair/">http://dormnet.tku.edu.tw/repair/</a></p>
                <h1 class="article-title">一般狀況處理</h1>
                <ol>
                    <li>進入到系統頁面後，把輸入帳號密碼後點登入</li>
                    <img class="responsive-img materialboxed lazy materialboxed lazy" data-original="imgs/system1.jpg">
                    <li>成功登入後，就可以看到有哪些單子要去處理的，我們比較需要注意的是 B201、B203、B204、B206、B216、B217、B218、B130、B113 以及 E313、E314 這幾個地方的單</li>
                    <img class="responsive-img materialboxed lazy" data-original="imgs/system2.jpg">
                    <li>假如有故障要開單的話，點選左方的”申請故障報修“後，會進入到下圖的頁面</li>
                    <img class="responsive-img materialboxed lazy" data-original="imgs/system3.jpg">
                    <ul>
                        <li>姓名：請填上你的編號＋姓名，ex：010XXX</li>
                        <li>申請單位：一級單位請選擇資訊處，二級單位請選教學支援組</li>
                        <li>處理地點：
                            <p>電腦填 ex.：B201－01</p>
                            <p>B201 代表哪間實習室電腦出問題，01 指一號電腦，螢幕上都有編號</p>
                            <p>印表機填 ex.：B201－L1</p>
                            <p>L1 是指第一台印表機，印表機上會有標籤</p>
                        </li>
                        <li>學號：填上你的學號</li>
                        <li>財產編號不用填</li>
                        <li>申請事項：我們只會用到印表機故障或是電腦軟硬體故障這兩個，其他不要選</li>
                        <li>事件描述：這邊描述得越詳細越好，下一個人處理時會比較容易去了解狀況</li>
                    </ul>
                    <li>填寫完送出後就會自動跳到”尚待處理工作“頁面，而剛剛開的單就會在最下方</li>
                    <img class="responsive-img materialboxed lazy" data-original="imgs/system4.jpg">
                    <li>假如之前有單沒處理完，而要去處理時，請點選左側的”填寫處理狀況“，會跳到下圖的頁面，一般來說剛開完的或是還沒處理的單，都只會有 A 可以點，如果出現 B 或 C 代表先前有人處理過了</li>
                    <img class="responsive-img materialboxed lazy" data-original="imgs/system5.jpg">
                    <li>根據上圖的例子，點選 A 後會進到這個頁面，其他地方都不用動，按設定出勤，這時就可以去進行維修</li>
                    <img class="responsive-img materialboxed lazy" data-original="imgs/system6.jpg">
                    <li>回到“填寫處理狀況”的頁面</li>
                    <img class="responsive-img materialboxed lazy" data-original="imgs/system7.jpg">
                    <li>假如已經把故障狀況處理完畢後，可以再點一次 A ，會進到處理狀況記錄
                        <p>在完成狀況這邊選”已完成待結案“，目前進度選擇 "待結案"，並且將處理的情況填在狀況描述這邊，按更新紀錄後這張單就會從 "尚待處理工作消失"</p>
                    </li>
                    <img class="responsive-img materialboxed lazy" data-original="imgs/system8.jpg">
                </ol>
            </div>
            <div id="2" class="section scrollspy">
                <h1 class="article-title">轉單</h1>
                <p>如果是有要把印表機送去 B219 維修隊那邊換備品回來，完成狀況這邊依然選否，目前進度不用更改，狀況描述可以填「更換備品後轉維修隊處理」，按下更新紀錄後，再跟維修隊說有單轉過去</p>
                <img class="responsive-img materialboxed lazy" data-original="imgs/system9.jpg">
            </div>
        </div>
        <!-- Table of contents -->
        <div class="col hide-on-small-only m3 l2">
            <div class="toc-wrapper">
                <div style="height: 1px;">
                    <ul class="table-of-contents">
                        <li><a href="#1">一般狀況</a></li>
                        <li><a href="#2">轉單</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end of table contents -->
    </div>
</div>

    </main><footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">讓網站變更好！</h5>
                <p class="grey-text text-lighten-4">如果有任何錯誤或是遺漏，請大家多多回報，我會盡快修改，針對目前的工作內容有任何建議的也歡迎提出來
                </p>
            </div>
            <div class="col l6 s12" style="overflow: hidden;">
                <h5 class="white-text">GitHub</h5>
                <iframe src="https://ghbtns.com/github-btn.html?user=crazycat836&repo=TKUB212Doc&type=watch&count=false&v=2" allowtransparency="true" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 All rights reserved
            <a class="grey-text text-lighten-4 right" href="#">Made with <i class="tiny material-icons">favorite</i></a>
        </div>
    </div>
</footer>
<!--  Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/hammerjs/2.0.8/hammer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  </body>
</html>